<section class="h-100 bg-dark">

<!--navbar-->
<nav class="navbar navbar-light bg-info">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/user-dashboard">Back</a>
        <a class="navbar-brand" routerLink="/provider">Brands</a>
        <a class="navbar-brand" routerLink="/category">Category</a>
    </div>
</nav>


<!--category-->
<div class="cart-top container-fluid">
    <div class="container d-flex">
        <div class="items">
            <a>
                <img src="assets/images/allProducts.jpg" alt="">
                <h6>All Coupons</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/mobile.jpg" alt="">
                <h6>Mobiles</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/HA1.jpg" alt="">
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/laptop.jpg" alt="">
                <h6>Laptops</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/mf.jpg" alt="">
                <h6>Men Fashion</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/p-4.jpg" alt="">
                <h6>Women Fashion</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/watch.jpg" alt="">
                <h6>Watches</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/acc.jpg" alt="">
                <h6>Accessories</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/gro.jpg" alt="">
                <h6>Grocery</h6>
            </a>
        </div>
    </div>
</div>




<!--flip Card-->
<div class="container">
    <div class="row">


        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                <img src="assets/images/card1.jpeg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back"><br><br>
                <p>Get up to 30% off on next order of swiggi</p> 
                <h1>OR67RE90R</h1>
            </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                <img src="assets/images/card2.jpeg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back"><br><br>
                <p>Get up to 30% off on next order of Zomato</p> 
                <h1>ZO12MA75TO</h1>
            </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                <img src="assets/images/card3.jpeg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back"><br><br>
                <p>Rs 100/- cash back on Airtel recharge</p> 
                <h1>CA56SH24BA</h1>
            </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                <img src="assets/images/card4.jpeg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back"><br><br>
                <h1>Oopss!! better luck next time</h1>
            </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                <img src="assets/images/card4.jpeg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back"><br><br>
                <p>Rs 100/- cash back on VI recharge</p> 
                <h1>VI56SH24BA36</h1>
            </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                <img src="assets/images/card1.jpeg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back"><br><br>
                <p>Lancecart buy 1 get 1 free offer</p> 
                <h1>CART24BA36</h1>
            </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                <img src="assets/images/card2.jpeg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back"><br><br>
                <p>Get up to 30% off on next order of swiggi</p> 
                <h1>OR67RE90R</h1>
            </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                <img src="assets/images/card3.jpeg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back"><br><br>
                <p>Get up to 30% off on next order of Zomato</p> 
                <h1>ZO12MA75TO</h1>
            </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                <img src="assets/images/card3.jpeg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back"><br><br>
                <p>Rs 100/- cash back on Airtel recharge</p> 
                <h1>CA56SH24BA</h1>
            </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                <img src="assets/images/card4.jpeg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back"><br><br>
                <p>Get up to 30% off on next order of swiggi</p> 
                <h1>OR67RE90R</h1>
            </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                <img src="assets/images/card1.jpeg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back"><br><br> 
                <h1>Better luck next time</h1>
            </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                <img src="assets/images/card2.jpeg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back"><br><br>
                <p>Rs 100/- cash back on Airtel recharge</p> 
                <h1>CA56SH24BA</h1>
            </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                <img src="assets/images/card2.jpeg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back"><br><br>
                <p>Rs 100/- cash back on Jio recharge</p> 
                <h1>JIO2022</h1>
            </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                <img src="assets/images/card3.jpeg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back"><br><br>
                <p>Rs 100/- cash back on VI recharge</p> 
                <h1>VI56SH24BA36</h1>
            </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                <img src="assets/images/card4.jpeg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back"><br><br>
                <p>Lancecart buy 1 get 1 free offer</p> 
                <h1>CART24BA36</h1>
            </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                <img src="assets/images/card1.jpeg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back"><br><br> 
                <h1>Butter Luck Next Time</h1>
            </div>
            </div>
        </div>

        
    </div>
</div>


</section>
