<section class="h-100 bg-dark">
<div class="text-center bg-image">
        <div class="mask" style="background-color: rgba(78, 76, 76, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white"><br><br>
                    <marquee direction="left" height="100" width="200" bg color="white"><h1 class="mb-3">Welcome to Coupons-Dekho.com</h1></marquee>
                    <h2 class="mb-2">Looking for a product to buy online , check into us and SAVE some more on it!!</h2>
                    <!-- <a class="btn btn-outline-light btn-lg" href="coupons" role="button">Start</a> -->
                    <br><br>
                </div>
            </div>
        </div>
    </div>

<!-- <div class="container">
    <div class="row row-cols-2">
        <div class="col"><img src="assets/images/slid10.png" alt=""></div>
        <div class="col"><img src="assets/images/slid9.jpg" alt=""></div>
        <div class="col"><img src="assets/images/slid5.jpg" alt=""></div>
        <div class="col"><img src="assets/images/slid6.jpg" alt=""></div>
        <div class="col"><img src="assets/images/slid7.jpg" alt=""></div>
        <div class="col"><img src="assets/images/slid8.jpg" alt=""></div>
        <div class="col"><img src="assets/images/slid1.jpg" alt=""></div>
        <div class="col"><img src="assets/images/slid2.jpg" alt=""></div>
        <div class="col"><img src="assets/images/slid3.jpg" alt=""></div>
        <div class="col"><img src="assets/images/slid4.jpg" alt=""></div>
        
    </div>
</div> -->


<!--partners-->
 <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="section-heading" style="color: white;">Our Partners</h1>
            <h3 class="text-muted section-subheading"></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 portfolio-item" data-bss-hover-animate="bounce"><a class="portfolio-link" href="#portfolioModal1" data-bs-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">Amazon</div>
                </div><img class="img-fluid" src="https://logodix.com/logo/233733.gif" alt="loading">
            </a>

        </div>
        <div class="col-sm-6 col-md-6 portfolio-item" data-bss-hover-animate="bounce"><a class="portfolio-link" href="#portfolioModal2" data-bs-toggle="modal">
            <div class="portfolio-hover">
            <div class="portfolio-hover-content">Flipkart</div>
                </div><img class="img-fluid" src="https://cdn.dribbble.com/users/1980856/screenshots/4760116/comp_3.gif" alt="loading">
            </a>

        </div>
        <div class="col-sm-6 col-md-6 portfolio-item" data-bss-hover-animate="bounce"><a class="portfolio-link" href="#portfolioModal3" data-bs-toggle="modal">
            <div class="portfolio-hover">
            <div class="portfolio-hover-content">Myntra</div>
                </div><img class="img-fluid" src="https://cdn.dribbble.com/users/1873555/screenshots/11262329/media/64b6719e36e17eeedbb41eb47624a8ba.gif" alt="loading">
            </a>

        </div>
        <div class="col-sm-6 col-md-6 portfolio-item" data-bss-hover-animate="pulse"><a class="portfolio-link" href="#portfolioModal4" data-bs-toggle="modal">
            <div class="portfolio-hover">
            <div class="portfolio-hover-content">Ajio</div>
                </div><img class="img-fluid" src="https://dumynlq1n57zm.cloudfront.net/article/167/27bbbcc-phpU6MBaZ.gif" alt="loading">
            </a>

        </div>
        <div class="col-sm-6 col-md-6 portfolio-item" data-bss-hover-animate="pulse"><a class="portfolio-link" href="#portfolioModal5" data-bs-toggle="modal">
            <div class="portfolio-hover">
            <div class="portfolio-hover-content">Zomato</div>
                </div><img class="img-fluid" src="https://cdn-images-1.medium.com/max/184/1*OLtNR7kUtIKG7Ovj3TNMzQ@2x.jpeg" style="padding: 30px;" alt="loading">
            </a>

        </div>
        <div class="col-sm-6 col-md-6 portfolio-item" data-bss-hover-animate="pulse"><a class="portfolio-link" href="#portfolioModal6" data-bs-toggle="modal">
            <div class="portfolio-hover">
            <div class="portfolio-hover-content">Swiggy</div>
                </div><img class="img-fluid" src="https://c.tenor.com/DQrrnRs5fuwAAAAM/swiggy-pancakes.gif" alt="loading">
            </a>

        </div>
    </div>
</div> 


</section>
